<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container inline " >
        <div>
            <a href="/" class="text-center ">Home</a>
        </div>
    
        <div>
            <a href="/regis" class="text-center ">Register</a>
        </div>
    
        <div>
            <a href="/login" class="text-center ">Login</a>
        </div>
    </div>
</body>
</html>